.jumbotron {
    background: url('../images/background.jpg') no-repeat center center;
    text-align: center;
    color:white;
}

.img-fluid { 
    width: 200px;
    height: 200px;
  }

  .row {
      background-color:lightblue;
      border-radius: 25px;
      padding: 10px;
      margin-bottom: 15px;
      text-align:center;
      height:auto;
  }


